@{
    ViewData["Title"] = "Index";
}

<div class="col-sm-3">&nbsp;</div>
<div class="panel col-sm-6 col-xs-12">
    <div class="panel-title text-center" style="padding-top:20px;">
        <h3 style="font-family: 'Barrio';font-size: 86px;">Cart Contents</h3>
        <img src="~/images/cart.jpg" style="height:10%;width:10%;padding-bottom:5%;" />
    </div>
    <div class="text-center" style="padding-top:10px;">
        @{
            Dictionary<string, object>
                cart = Context.Session.Get<Dictionary<string, Object>>("cart");
            decimal subTot = 0;
            decimal tax = 0;
            decimal ordTot = 0;
            decimal extended = 0;

        }
        <table class="table table-striped">
            <tr style="font-weight:bolder; color:darkred">
                <th class="col-xs-2 text-center">Code</th>
                <th class="col-xs-4 text-center">Product Name</th>
                <th class="col-xs-6 text-center">MSRP</th>
                <th class="col-xs-8 text-center">Qty</th>
                <th class="col-xs-10 text-center">Extended</th>
            </tr>
            @{
                if (cart != null)
                {
                    foreach (var key in cart.Keys)
                    {
                        ProductViewModel product = JsonConvert.DeserializeObject
                        <ProductViewModel>
                        (Convert.ToString(cart[key]));
                        if (product.Qty > 0)
                        {
                            extended = product.MSRP * product.Qty;
                            subTot += extended;
                            tax = subTot * (decimal)0.13;
                            ordTot = subTot + tax;
                            <tr>
                                <td class="col-xs-2 text-center">@product.Id</td>
                                <td class="col-xs-4 text-center">@product.ProductName</td>
                                <td class="col-xs-6 text-center">@String.Format("{0:n2}", product.MSRP)</td>
                                <td class="col-xs-8 text-center">@product.Qty</td>
                                <td class="col-xs-10 text-center">@String.Format("{0:n2}", extended)</td>
                            </tr>
                        }
                    }
                }
            }
        </table>
        <hr />
        <table class="table table-striped" style="color:rgb(95, 114, 121);">
            <tr><th colspan="4" class="col-xs-4 text-right" style="font-size:large;font-weight:bold;color:darkblue">Cart Totals</th></tr>
            <tr style="color:goldenrod">
                <td class="col-xs-10 text-right">SubTotal:    $@String.Format("{0:n2}", subTot)</td>

            </tr>
            <tr style="color:goldenrod" >
            
                <td class="col-xs-10 text-right">Tax:         $@String.Format("{0:n2}", tax)</td>
               
            </tr>
            <tr style="color:goldenrod">
                <td class="col-xs-10 text-right">Order Total: $@String.Format("{0:n2}", ordTot)</td>
            </tr>
        </table>
        <a href="/Cart/ClearCart" class="btn btn-sm btn-success">Clear Cart</a>
    </div>
</div>